- if f.error_notification
  .alert.error.fade.in= f.error_notification
%ul.nav.nav-tabs
  %li.active
    %a{:"data-toggle" => "tab", :href => "#infoTab"}= t(".tab.info_tab")
  %li
    %a{:"data-toggle" => "tab", :href => "#settingsTab"}= t(".tab.settings_tab")
.tab-content
  #infoTab.tab-pane.active
    = f.input :name, :input_html => { :class => "span6" }
    = f.input :birthdate, :as => :string, :input_html => { :class => "datepicker" }
    = f.input :sex, :as => :select, :collection => Request.avaliable_sexs, :include_blank => false
    = f.input :phone, :input_html => { :class => "span6" }
    = f.input :email, :input_html => { :class => "span6" }
    = f.input :cost, :input_html => { :class => "span6" }
    = f.input :coupone_code, :input_html => { :class => "span6" }
  #settingsTab.tab-pane
= f.button :submit
