= simple_form_for @user, :url => session_path, :html => {:class => "form-horizontal"} do |f|
  - if flash[:alert]
    .alert.alert-error
      = flash[:alert]
  = f.input :email
  = f.input :password

  .form-actions
    = f.button :submit, t("forms.buttons.login")
